/* .timetable div {
	flex-grow: 1;
	text-align: start;
	padding-right: 20px;
} */
/* .timetable div:last-child {
	padding-right: 0;
} */
main {
	max-width: none;
}
input {
	max-width: 50px;
}

.timetable span {
	font-size: 14px;
}